<div *ngIf="pokemonId !== 0; else notfound">
  <div class="card" style="background-color: rgba(0, 0, 0, 0.5); color: white; border: 1px solid rgba(255, 255, 255, 0.2);">
    <div class="row g-0">
      <div class="col-md-4">
        <img *ngIf="pokemonDetails?.sprites && pokemonDetails?.sprites?.front_default" [src]="pokemonDetails?.sprites?.front_default" class="img-fluid rounded-start" alt="Imagen del Pokémon">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <div class="row text-center">
            <div class="col-lg-6">
              <p class="card-text">ID: {{ pokemonDetails?.id }}</p>
            <h3 class="card-title" style="font-size: 24px; font-weight: bold;">{{ pokemonDetails?.name }}</h3>  
            </div>
            <div class="col-lg-6">
              <p class="card-text">Tipos: {{ getTypes() }}</p>
              <p class="card-text card-title">Habilidades:</p>
              <ul class="list-unstyled">
                <li *ngFor="let ability of pokemonDetails?.abilities">
                  {{ ability.ability.name }} ({{ ability.is_hidden ? 'oculta' : 'visible' }})
                </li>
              </ul>
            </div>
          </div>
          
         
          <h3 class="card-text text-center">Estadísticas:</h3>
          <table class="table" style="width: 100%; margin-top: 20px;">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Valor Base</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let stat of pokemonDetails?.stats" >
                <td>{{ stat.stat.name }}</td>
                <td>{{ stat.base_stat }}</td>
              </tr>
            </tbody>
          </table>
          <button class="btn btn-outline-light" (click)="goBack()" style="width: 100%;">Regresar</button>
        </div>
      </div>
    </div>
  </div>
  
</div>
<ng-template #notfound>
  <div class="justify-content-center notFound">
    <h1>NO SE ENCONTRÓ EL POKEMON</h1>
  </div>
</ng-template>