.img-fluid {
    width: 100%;
    height: auto;
  }
  .card {
    background-color: rgba(0, 0, 0, 0.5); /* Negro con transparencia */
    color: white; /* Texto en color blanco para contrastar */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Borde blanco con transparencia */
    font-weight: bold;
  }
  
  .card-title {
    font-size: 24px; /* Tamaño de la fuente */
    font-weight: bold; /* Fuente en negrita */
  }
  
.table {
  width: 100%;
  
  margin-top: 20px; /* Espacio superior */
}

.table th, .table td {
  border: 1px solid rgba(255, 255, 255, 0.2); /* Borde blanco con transparencia */
  padding: 8px; /* Espaciado interno */
  color:aliceblue;
  background-color: rgba(255, 255, 255, 0.1); /* Fondo blanco con transparencia */
}

.table th {
  background-color: rgba(255, 255, 255, 0.1); /* Fondo blanco con transparencia */
  text-align: left; /* Alineación del texto a la izquierda */
}

.notFound {
  border: 1px solid rgba(255, 255, 255, 0.2); /* Borde blanco con transparencia */
  padding: 8px; /* Espaciado interno */
  margin-bottom: 50%;
  color:aliceblue;
  font-size: 24dp;
  background-color: rgba(255, 255, 255, 0.1); /* Fondo blanco con transparencia */
}