<footer class="footer bg-dark text-light py-5">
    <div class="container">
        <div class="row">
            <!-- Primera columna con imagen -->
            <div class="col-md-3 mb-4">
                <img src="../../../../assets/pokelogo.png" alt="PokeWiki" class="img-fluid">
            </div>
            <!-- Segunda columna con dos links -->
            <div class="col-md-3 mb-4">
                <ul class="list-unstyled">
                    <li><a href="#">Enlace 1</a></li>
                    <li><a href="#">Enlace 2</a></li>
                </ul>
            </div>
            <!-- Tercera columna para información de contacto -->
            <div class="col-md-3 mb-4">
                <h5>Información de Contacto</h5>
                <ul class="list-unstyled">
                    <li>Dirección: Calle 123, Ciudad</li>
                    <li>Teléfono: (123) 456-7890</li>
                    <li>Email: fcodmendez24&#64;gmail.com</li>
                </ul>
            </div>
            <!-- Cuarta columna para contenido adicional -->
            <div class="col-md-3 mb-4">
                <h5>Contenido Adicional</h5>
                <p>Aquí puedes agregar cualquier información adicional que desees.</p>
            </div>
        </div>
    </div>
</footer>
