<footer class="footer bg-dark text-light py-5">
    <div class="container">
        <div class="row">
            <!-- Primera columna con imagen -->
            <div class="col-md-3 mb-4">
                <img src="assets/pokelogo.png" alt="PokeWiki" class="img-fluid">
            </div>
            <!-- Segunda columna con dos links -->
            <div class="col-md-3 mb-4 justify-content-center">
                <ul class="list-unstyled">
                    <li><a  class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#">Pokewiki</a></li>
                </ul>
            </div>
            <!-- Tercera columna para información de contacto -->
            <div class="col-md-3 mb-4">
                <h5>Información de Contacto</h5>
                <ul class="list-unstyled">
                    <li>Dirección: Av. 20 de Noviembre #219, Col. Magisterial II, Rincón de Romos, Aguascalientes</li>
                    <li>Teléfono: (+52) 465-106-3274</li>
                    <li>Email: fcodmendez24&#64;gmail.com</li>
                </ul>
            </div>
            <!-- Cuarta columna para contenido adicional -->
            <div class="col-md-3 mb-4">
                <h5>Wiki Pokemon</h5>
                <p>Wiki meramente demostrativa, sin fines de lucro</p>
            </div>
        </div>
    </div>
</footer>
